/*body{
	background-color:orange;
}

#header{
	color:aqua;
}

.tulisan2 {
	color:blue;
	
.rendang{
	background-color:white;
	text-align:left;
	color:black;
	padding:1%;
}

}*/


#header{
	background-color:black;
	text-align:center;
	color:white;
	padding:4%;
}

ul{
	list-style-type:none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.tulisan2{
	background-color:white;
	text-align:center;
	color:black;
	padding:0 4% 0% 4%;
}

#footer{
	background-color:black;
	text-align:center;
	color:white;
	padding:1%;
	clear:both;
}

.image {
    float: right;
    margin:-3% 2%;
    padding:-10%;
}

/* class image dan teks jadi satu tp berantakan jadinya, buat diinget2 aja
.rendang{
	margin:1%;
	margin-right:30%;
	padding:1%;
	text-align:left;
}

.satepadang{
	margin:1%;
	margin-right:30%;
	padding:1%;
	text-align:left;
}
*/

.resepteks{
	width:70%;
	float:left;
	padding:1%;
}

.resepgambar{
	float:left;
	margin: 29px 20px 0 0;
	border-radius:4%;
	
}


#right {
	float:right;
    width:20%;
    height:auto;
    text-align:left;
    margin-top: -35%;
}

/* coach z
#right {
	float:right;
    width:20%;
    height:auto;
    padding:2%;
}
*/

form{
	text-align:left;
	margin:0% 0% 1% 40%;
}

